<html>
    <head>
        <script src="static/pymon.js"></script>
        <script type="text/javascript">
            window.onload=startup

            function startup() {{
                liveupdates("index");
            }}
        </script>
        <link rel="stylesheet" href="static/base.css">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
    </head>
    <body>
        <h3>Unipolar Stepper Motor test with ULN2003</h3>
        <form autocomplete="off">
        <div class="rowsncols">
            <div class="row">
                <label class="rowlabel" for="step_style" >step style:</label>
                <select id="step_style" onchange="field_update(this, 'sel')">{app:step_stylesel}</select>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">target pos:</label>
                <input class="cell" type="text" value="0" onchange="field_update(this, 'float')" id="target_pos" autocomplete="off" style="width: 7em;" />
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <input type="button" onclick="app_action(this, 'start_stop_motor')" id="ss_motor" value="Run Motor"  style="grid-column: 1;" />
                <div class="cell" id="drive_mode">{app.drive_mode:s}</div>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">state:</label>
                <div class="cell" id="drive_state">{app.drive_state:s}</div>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">current pos:</label>
                <div class="cell" id="current_pos">{app.current_pos:05.1f}</div>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">current tps:</label>
                <div class="cell" id="current_tps">{app.current_tps:9.2f}</div>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">steps per degree:</label>
                <div class="cell">{app.unit_scale:7.3f}</div>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">max tps:</label>
                <input class="cell" type="text" value="{app.max_tps:7.2f}" onchange="field_update(this, 'float')" id="max_tps" autocomplete="off" style="width: 7em;"/>
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">accel - decel tps/s:</label>
                <input class="cell" value="{app.acceleration:7.2f}" onchange="field_update(this, 'float')" id="acceleration" autocomplete="off" style="width: 7em;" />
            </div>
            <div class="rowsep"></div>
            <div class="row">
                <label class="rowlabel">drive pins:</label>
                <div class="cell">{app.pins}</div>
            </div>
        </div>
        </form>
    </body>
</html>