<html>
    <head>
        <script src="static/pymon.js"></script>
        <script src="static/circle-progress.js"></script>
        <script type="text/javascript">
            window.onload=startup
            var circleProgress;
            function startup() {{
                liveupdates("index");
                circleProgress = new CircleProgress('.progress');
                circleProgress.min=0;
                circleProgress.max=20;
                circleProgress.value=0;
            }}
        </script>
        <link rel="stylesheet" href="static/base.css">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
    </head>
    <body>
        <h3>A very simple calculator</h3>
        <form autocomplete="off">
        <div class="rowsncols">
            <div class="row">
                <label class="rowlabel" for="number_A" >number A:</label>
                <input class="cell" value="{app.number_A}" onchange="field_update(this, 'float')" id="number_A" autocomplete="off" style="width: 7em;" />
            </div>
            <div class="row">
                <label class="rowlabel" for="number_B" >number B:</label>
                <input class="cell" value="{app.number_B}" onchange="field_update(this, 'float')" id="number_B" autocomplete="off" style="width: 7em;" />
            </div>
            <div class="row">
                <label class="rowlabel" for="operation" >operator:</label>
                <select id="operation" onchange="field_update(this, 'sel')">{app.op_select}</select>
            </div>
            <div class="row">
                <input type= "button" class="btnlike" onclick="app_action(this, 'do_sum')" id="do_sum" value="calculate!" style="grid-column: 1;" />
                <div class="cell" id="answer">0.0</div>
            </div>
            <div class="row">
                <label class="rowlabel" for="target_ops" >timer (seconds):</label>
                <div class="cell" id="target_ops" >{app.target_ops:d}</div>
            </div>
            <div class="row">
                <label class="rowlabel" for="prog_bar" >nearly done?</label>
                <progress id="prog_bar" value="{app.current_ops:d}" max="{app.target_ops:d}" />
            </div>
        </div>
        <div class="progress"></div>
        </form>
    </body>
</html>