<html>
    <head>
        <script src="static/pymon.js"></script>
        <script src="static/streambits.js"></script>
        <script src="static/nouislider.js"></script>
        <script src="static/sliders.js"></script>
        <script src="static/pymask.js"></script>
        <script type="text/javascript">
            window.onload=startup

            function startup() {{
                liveupdates("index");
            }}
        </script>
        <link rel="stylesheet" href="static/base.css">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
    </head>
    <body>
        <form autocomplete="off">
        <h3>Raspbery Pi Camera</h3>
        <div>
            <div>
                <div>
                    <span onclick="livestreamflip(this)" title="click to start / stop live view" class="btnlike" style="width:135px;" >show livestream</span>
                    <span onclick="maskeditflip(this)" title="click to start / stop cpu mask edit" class="btnlike" style="width:135px;" >edit mask</span>
                    <span onclick="app_call_f(this, 'save_app_sets')" title="save settings" class="btnlike" style="width:135px;" id="savesetts" >save settings</span>
                    <a href="masks" target="_blank" class="btnlike" >select mask file</a>
                </div>
            <div style="background-color:blue; display: grid; grid-template-columns: 20px 640px; grid-template-rows: 20px 480px; width: fit-content" >
                <span onclick="zoomreset()" title="click to reset zoom" style="cursor: pointer; font-weight: bold; grid-row-start:1; grid-column-start:1;" >R</span>
                <div style="grid-row-start:1; grid-column-start:2;" >xxx</div>
                <div style="grid-row-start:2; grid-columns-start:1;" >y</div>
                <img id="livestreamimg" src="static/nocam.png" style="z-index:1; grid-row-start:2; grid-column-start:2;"/>
                <div id="livemaskdiv" style="display:block; grid-row-start:2; grid-column-start:2; top:0px; left:0px; width:640px; height:480px; z-index:3;">
                                  <canvas id="livemaskcanv"></canvas>
                </div>
            </div>
            </div>
        </div>
        <div id="cam_summary">{app.cam_summary}</div>
        <div class="rowsncols">
            <div class="row">
                <label class="rowlabel" for="camType" >camera rev:</label>
                <div class="cell" id="camType">{app.camType}</div>
            </div>
            {app:cpart--camcontrolsfull}
            {app:cpart-livestream-streamfull}
            {app:cpart-vidrecord-recorderfull}
            {app:cpart-vidproc-sequencefull}
        </div>
        </form>
    </body>
</html>