<div class = "grouphead">
    <div class="headercell" >frame processor</div><img class="group_button" onclick="show_hide('vidproc', this)" src="{cpart.on_view_image}" />
</div>
<div class="group" id="vidprocgroup"{cpart.group_vis}>
    <div class="row">
        <div class="rowlabel" for="is_status" >status:</div>
        <div class="cell" id="is_status">{cpart.gs_status}</div>
    </div>
    <div class="row">
        <input type="button" onclick="app_call_f(this, 'testgen')" id="gs_frameproc_btn" value="start frame proc"  style="grid-column: 1;" />
        <div class="cell" id="gs_status">{cpart.gs_status}</div>
    </div>
    <div class="row">
        <div class="rowlabel" for="is_choose_mask" >:</div>
        <a class="btnlike" id="is_choose_mask" href="mask_choose">select mask</a>
    </div>
</div>